body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
}


.input_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label_file{
    text-align: center;
    display: block;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.label_file:hover{
    background-color: rgba(0, 113, 240, 0.7);
}



.delete{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #f00000;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.delete:focus,
.delete:hover{
    background-color: rgba(255, 9, 50, 0.7);
}

.h1{
    margin: 0 0 32px 0;
    font-weight: normal;
}

.formGroup{
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}

form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 800px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

label{
    color: #6f6b6b;
    margin-bottom: 10px;
}
input[type="file"]{
    padding: 0 0 0 0;
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 0 0 10px 0;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
}


input[type="checkbox"]{
    width: 2%;
    margin-bottom: 15px;
    outline: none;
}


input:focus{
    border-bottom: 1px solid #1a73a8;
}

.mask:invalid{
    color: red
}

.myDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.myDiv > button {
    margin-right: 10px;
}

a{
    margin-bottom: 15px;
    margin-left: 10px;
}
.form_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.form_button:focus,
.form_button:hover{
    background-color: rgba(0, 113, 240, 0.7);
}

textarea{
    outline: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

textarea:focus{
    border: 1px solid #1a73a8;
}

select{
    outline: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

select:focus{
    border: 1px solid #1a73a8;
}